body {
  font-family: Ariel, sans-serif;
  background-color: rgb(228, 248, 223);
  margin: 0;
  padding: 0;
  color: black;
}

header {
  background-color: black;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  background-color: greenyellow;
  color: black;
}

.name {
  margin-bottom: 30px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.container h2 {
  color: #35614b;
  margin-top: 30px;
}

.container h3 {
  color: #57a07b;
  text-decoration: underline;
}

.container p {
  line-height: 1.6;
}

.headshot {
  width: 200px;
  height: auto;
  border-radius: 100px;
}

.container button {
  background-color: black;
  border-radius: 10px;
  border: 2px solid black;
}

.container button:hover {
  background-color: greenyellow;
}

.container a {
  background-color: black;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-top: 5px;
  margin-bottom: 10px;
}

.container a:hover {
  color: black;
  background-color: greenyellow;
}

.project-info img {
  border: 2px solid black;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.project-images-at,
.project-images-blog {
  width: auto;
  height: 400px;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 425px) {
  .project-images,
  .project-images-at,
  .project-images-blog {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .project-images-at,
  .project-images-blog {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .headshot {
    width: 80px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  nav ul li a {
    display: block;
  }

  .project-images,
  .project-images-at,
  .project-images-blog {
    max-width: 100%;
    margin-bottom: 10px;
    width: auto;
    height: 300px;
    margin-bottom: 20px;
  }
}
